# IMPORTANT: this file installs Python packages only.
# With the source defaults, every training and smoke workflow also requires a
# working Gurobi installation and license. T-D, three-phase, nonconvex, and
# epigraph workflows additionally require IPOPT. Polygon and ellipse workflows
# additionally require IBM ILOG CPLEX and its license. environment.yml installs
# IPOPT, but not Gurobi or CPLEX.
# Solver selection is source-level: changing only ErrorCalculator(solver=...)
# does not change its independent cvx_solver='gurobi' default. See the solver
# matrix and replacement instructions at the beginning of README.md.
# Tested Python environment: Python 3.12.3 on Windows 11.
numpy>=1.26.4,<2.0
pandas>=2.2,<3.0
scipy>=1.13,<2.0
torch>=2.2,<3.0
pyomo>=6.9,<7.0
matplotlib>=3.8,<4.0
Pillow>=10,<12
openpyxl>=3.1,<4.0
xlrd>=2.0,<3.0
PYPOWER>=5.1.18,<6.0
seaborn>=0.13,<1.0
